/* Sales page styling */
#sales{
    background-image: url(/images/BakingBackgroundSales_1_30.jpg);
}
#salesHeader{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 4em;
    font-weight: 700;
    color:#f0ffff;
    margin: 10px;
}
#salesTable{
 width: 80vw;
 margin-left: 10vw;
 margin-right: 10vw;
 display: flex;
 flex-wrap: wrap;
}
#salesTable th, td{
    text-align: center;
    padding: 5px;
    height: 50px;
    vertical-align: middle;

}
#salesTable th, tr, td{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: rgba(18, 21, 14, .55);
    color: #DADCDD;
    font-family: 'Open Sans', sans-serif;
  }
td:nth-child(1){
    font-family: 'Open Sans', sans-serif;
    color:#a0a2a0;
    font-size: 1.5em;
}

#salesTable th{
    font-family: 'Open Sans', sans-serif;
    color: #c39a7e;
    font-size: 1.5em;
}

/* hompage styling */
#container{
background-color: white;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 height: 100vh;
 background-image: url("/images/jon-flobrant-65429-unsplash_1_22.jpg");


}
#leftSide{
    background-image: url("/images/jon-flobrant-65429-unsplash_1_22.jpg");
    width: 40vw;
    background-color: white;
    clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
    
}
#rightSide{
    background-image: url("/images/julian-hochgesang-1178003-unsplash_22.jpg");
    background-color: black;
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: 40vw;
}
#rightSideh1{ 
 font-size: 3em;
 font-family: 'Pacifico', cursive;
 color: #f0ffff;
 position: relative;
 top: 30%;
 left: 30%;
}
  
