/* Sales page styling */
#sales{
    background-image: url(/images/BakingBackgroundSales_1_30.jpg);
}
#salesHeader{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 4em;
    font-weight: 700;
    color:#f0ffff;
    margin: 10px;
}
#newStoreInput{
    color: #c39a7e;
    display: grid;
    place-content: center;
    height: 100px;
    background-color: rgba(18, 21, 14, .75);
    border: 2px solid white;
    margin: 1em;
    padding: 1.2em;
}
#newStoreInput legend{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 1em;
}
#salesTable{
 width: 80vw;
 margin-left: 10vw;
 margin-right: 10vw;
}
#salesTable th, td{
    margin-top: 100px;
    text-align: center;
    padding: 5px;
    height: 50px;
    vertical-align: middle;

}
#salesTable th, tr, td{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: rgba(18, 21, 14, .55);
    color: #DADCDD;
    font-family: 'Open Sans', sans-serif;
  }
td:nth-child(1){
    font-family: 'Open Sans', sans-serif;
    color:#a0a2a0;
    font-size: 1.5em;
}

#salesTable th{
    font-family: 'Open Sans', sans-serif;
    color: #c39a7e;
    font-size: 1.5em;
}

/* hompage styling */
#container{
    background-color: white;
    align-items: center;
    background-image: url("/images/BakingBackgroundSales_37.jpg");
    
}
h2{
    font-family: 'Pacifico', cursive;
    color: #c39a7e;
    font-size: 2em;
}
p{
    color: #DADCDD;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
}
#rightSideLogo h1{
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    font-weight: 700;
    color:#f0ffff;
    margin: 10px;
    display: inline-block;
    margin: 30px;
    margin-left: 30vw;
}
#mainLogo{
    position: absolute;
    margin: 30px;
}
.textbox{
    background-color: rgba(18, 21, 14, .75);
    border: 1px solid white;
    border-radius: 10px;
}
.textbox img{
    float: right;
    border-radius: 5px;
}
#rightTextBox{
padding: 100px;
margin: 10px;
}
#rightTextBox h2{
    text-align: center;
    padding: 10px;
}
#leftSideTextContainer{
    height: 45vh;
    margin: 0 10px;
    padding: 100px;
}
#leftSideTextContainer h2{
    text-align: center;
    padding: 10px;
}
#merchContainer img{
    margin: 30px;

}
#merchContainerImg{
    display: flex;
    place-content: center;
}